:root {
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
}
.Main{
    display: flex;
    flex-direction: column;
    
    
}
.MainContent{
    overflow-x: hidden;
    overflow-y: auto;

}
input{
display: flex;
flex-direction: column;
background-color: var(--glass);
border-radius: 0.7rem;
margin-top: 4rem;
margin-left: 3rem;
height: 2.5rem;
border:solid #FF919D;
width: 80%;

}
.post{
    gap:none;
}
.post textarea {
    background-color: var(--glass);
    border-radius: none;
    margin-top: 1.5rem;
    margin-left: 3rem;
    height: 2.5rem;
    border:solid #FF919D;
    width: 80%;
}
.itm{
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: var(--glass);
    margin-left: 3rem;
    width: 81%;
}
.itm ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-right: 1rem;
    padding-left: 70%;
    list-style: none;
}
.btn{
    color: #FF919D;
    height: 30px;
    margin: auto;
    margin-left: 5px;
    
}