.Form-glass{
    border-radius: 5px;
    background-color: #131311;
    padding: 20px;
    margin-top: 2rem;
    margin-left: 30rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.Form-glass label{
  color: aqua;
}
.Form-glass input[type=text],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.Form-glass input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Form-glass input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  .Form-glass input[type=submit] {
    width: 100%;
    background-color: #ef9228;
    color: white;    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .New input[type=submit]:hover {
    background-color: aqua;
  }